<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="alert alert-success" role="alert">
        <strong>Success!</strong> It is working as we expected.
    </div>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1 th:text="${title}" />
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
    </div>

</div> <!-- /container -->

<footer class="footer">
    <div th:replace="fragments/footer :: footer"></div>
</footer>

</body>
</html>